<% title "Thank you!" %>
<%- model_class = Survey -%>
<div class="page-header">
  <h1><%=t '.title', :default => yield(:title) %></h1>
</div>

<div class="form-actions">
  <%= link_to 'Ok', root_path, :class => 'btn' %> 
</div>



