/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.signup_form {
	margin:20px;
	padding:30px;
	border:2px solid; 
	-moz-border-radius: 0px;
    -webkit-border-radius: 20px;
	border-radius:20px; 
	box-shadow: 10px 10px 5px #888888; 
	float:left; 
	border-color:black; 
	background-color:#CDD48E;
}

.links {
	float:left; clear:both;
}

.alert {
	color: red;
}
