            <ul class="nav">
              <li><%= link_to "Surveys", "/surveys"  %></li>
              <li><%= link_to "Reports", "/reports"  %></li>
              <li><%= link_to "Link-3", "/path3"  %></li>
            </ul>